    .news2 {
        padding: 50px 0 100px;
        .list1 {
            text-align: center;
            padding: 50px;
            span {
                padding: 12px 0 12px 50px;
            }
            .span1 {
                background: url(../../../assets/login/modifyPassword/stepSucc.png) no-repeat left center;
            }
            .span2 {
                margin: 0 60px;
                background: url(../../../assets/login/modifyPassword/step2.png) no-repeat left center;
            }
            .span3 {
                background: url(../../../assets/login/modifyPassword/step3-3.png) no-repeat left center;
            }
        }
        .list {
            margin: 20px auto;
            background: #f4f5fa;
            width: 320px;
            height: 32px;
            line-height: 32px;
            input {
                padding-left: 15px;
                background: #f4f5fa;
                border: 0;
                height: 32px;
                line-height: 32px;
                font-size: 14px;
            }
        }
        .list2 {
            background: #fff;
            span {
                font-size: 22px;
                color: #FF5001;
            }
        }
        .list3 {
            #code {
                width: 120px;
            }
            #getCode {
                padding: 0;
                float: right;
                width: 120px;
                background: #fff;
                border: 1px solid #FF5001;
                color: #FF5001;
                height: 30px;
                line-height: 30px;
                cursor: pointer;
            }
            .changeCode {
                color: #686d9b !important;
                border-color: #b3b6cd !important;
            }
            i {
                display: block;
                float: right;
                height: 32px;
                padding: 0 5px;
                background: #fff;
            }
        }
        .list4 {
            font {
                padding: 0 20px;
                border-right: 1px solid #9D9D9D;
                background: url(../../../assets/login/modifyPassword/icons.png) no-repeat -630px -41px;
            }
        }
        .list5 {
            background: #fff;
            height: 15px;
            line-height: 15px;
            text-align: center;
            font-size: 14px;
            color: red;
            height: 14px;
            line-height: 14px;
        }
        .list6 {
            background: linear-gradient(to left, #ff8f00, #ff5001);
            text-align: center;
            color: #fff;
            cursor: pointer;
        }
        .list6:hover {
            background: linear-gradient(to left, #ff6f00, #ff3001);
            cursor: pointer;
        }
    }