#section{
    height: 100%;
    .news1{
        width: 1200px;
        margin: 0 auto;
        height: 314px;
        background: url(../../assets/data/data.png) no-repeat center ;
        background-size: cover;
    }
    .news2{
       
        p{
            text-align: center;
            padding: 100px 0 130px;
            font-size: 30px;
            font-family: "cursive";
        }
    }
    
}